# Entornos virtuales
venv/
env/
.venv/
C:/Repositorio/fastapi-react-kpi-dashboard/venv/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Base de datos
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db